<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">


			<p>We are part of the <a href="https://www.eng.uwo.ca/electrical/">Faculty of Electrical and Computer Engineering</a> at the<a href="https://uwo.ca/"> Western University (UWO)</a>. We are associated with the <a href="https://vectorinstitute.ai/"> Vector Institute</a></p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding: <br />
      - NSERC Discovery Grant Program<br />
		  - NSERC Alliance Program <br />
		  - Mitacs Accelerate Program
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Thompson Engineering Building, Western University<br />
		  1151 Richmond St<br />
		  London, ON N6A 3K7<br />
		  Canada <br />
            (<a href="https://maps.app.goo.gl/CA3SdeAPpqeTvzsS9">Maps</a>, <a href="https://www.eng.uwo.ca/departments-units/index.html">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
